In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine,reflect=True)

In [6]:
# View all of the classes that automap found
for mapped_class in Base.classes:
    print(mapped_class)

<class 'sqlalchemy.ext.automap.measurement'>
<class 'sqlalchemy.ext.automap.station'>

In [7]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [9]:
# Find the most recent date in the data set.
print("columns in the measurement table:")
print(Measurement.__table__.columns.keys())
print("columns in the station table:")
print(Station.__table__.columns.keys())
results = session.query(func.max(Measurement.date)).one()
for max_date in results:
    print(max_date)

columns in the measurement table:
['id', 'station', 'date', 'prcp', 'tobs']
columns in the station table:
['id', 'station', 'name', 'latitude', 'longitude', 'elevation']
2017-08-23

In [33]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database.
results = session.query(func.max(Measurement.date)).one()

# Calculate the date one year from the last date in data set.
timedelta = dt.timedelta(days=365)
query_date = None
for max_date in results:
    query_date=(dt.datetime.strptime(max_date, "%Y-%m-%d")-timedelta).date()
print(query_date)

# Perform a query to retrieve the data and precipitation scores
query = session.query(Measurement.date,Measurement.prcp).filter(Measurement.date > query_date).statement


# Save the query results as a Pandas DataFrame and set the index to the date column
df = None
df = pd.read_sql(query,session.bind)
#df.set_index('date',inplace=True,drop=False)
df.head()
#print(df.date)

# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

2016-08-23

         date  prcp
0  2016-08-24  0.08
1  2016-08-25  0.08
2  2016-08-26  0.00
3  2016-08-27  0.00
4  2016-08-28  0.01

In [33]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()